# Python
__pycache__/
*.pyc
.venv/
venv/

# Database
*.db

# Environment
.env

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Uploads
uploads/

# Cache
.cache/
.npm-cache/

# Logs
*.log